@import "../../common/scss/colors";

.form {
  width: 100%;

  &__title {
    color: $soft-violet-14;
    margin-bottom: 16px;
    margin-top: 8px;
  }

  &__body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .body {
    &__button {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    .button {
      [class^="button__"] {
        border-radius: 12px;
        border: 1px solid $soft-violet-14;
        font-size: 16px;
        font-weight: bold;
        height: 40px;
        width: 140px;

        &:focus {
          outline: none;
        }
      }

      &__submit {
        background-color: $soft-violet-14;
        color: $white;

        &:hover {
          color: $soft-grey-4;
        }

        &:active {
          color: $soft-grey-8;
        }
      }

      &__clear {
        background-color: $white;
        color: $soft-violet-14;

        &:hover {
          border: 1px solid $soft-violet-16;
          color: $soft-violet-16;
        }

        &:active {
          border: 1px solid $black;
          color: $black;
        }
      }
    }
  }
}
